/* start global rules  */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143/ 70% );
    --padding-space:60px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* start global rules  */
/* Start media  */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
    width: 750px;
}}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {     .container{
    width: 970px;
}  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {     
    .container{
    width: 1170px;
}  }
/* End media  */  
/* Start commpnont  */
.min-heading{
    text-align: center;
}
.min-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.min-heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    height: 2px;
    width: 120px;
    background-color: black;
}
.min-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    height: 14px;
    width: 14px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}
.min-heading p{
    width: 600px;
    margin: 0 auto 100px;
    max-width: 100%;
}

/* End commpnont  */
/* Start header  */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 108.35px;
}
header .container::after{
    content: "";
    height: 1px;
    position: absolute;
    background-color: #2f2f2f;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}  
header .container .logo img{
    height: 40px;
} 
header .container nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container nav .menu{
    display: none;
}
@media (max-width: 780px){
    header .container nav .menu{
        display: block;
        font-size: 30px;
    }
    header .container nav .menu + ul {
        display: none;
        transition: 0.3s;
    }
    header .container nav .menu:hover + ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        width: 100%;
        background-color:#2f2f2f2c;
    }
    header .container nav .menu + ul li a{
        padding: 15px;
        font-size: 20px;
    } 
}
header .container nav ul{
    display: flex;
}
header .container nav ul li a{
    text-decoration: none;
    position: relative;
    display: block;
    color: white;
    font-size: 15px;
    transition: 0.3s;
    padding: 45px 20px;
}
header .container nav ul li a i{
    color: white;
     margin-left: 30px;
}
header .container nav ul li a.active,
header .container nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    position: relative;
    z-index: 6;

}
header .container nav ul li a.active{
    position: relative;
}
header .container nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header .container nav .form i{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
/* End header  */
/* Start leading  */
.leading {
    position: relative;
    background-image: url(/images/landing.jpg);
    background-size: cover;
    background-color: var(--main-color);
    height: 100vh;
    width: 100%;
}
.leading .layover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
}
.leading .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparent-color);
    padding: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 100px;
}
@media (max-width:1000px){
    .leading .text{
        padding: 30px;
        width: 90%;
    }

}
@media (max-width:768px){
    .leading .text{
        padding: 30px;
        width: 100%;
    }
    .leading .change-background{
        display: none;
    }
}
.leading .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #ddd;

}
.leading .fa-angle-left{
    left: 30px;
}
.leading .fa-angle-right{
    right: 30px;
}
.leading .bullit{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.leading .bullit li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
    background-color: transparent;
    transition: 0.6s;
    
}
.leading .bullit li.active{
    background-color: var(--main-color);
}
.leading .fa-angle-left:hover ~ ul.bullit li.one{
    background-color: rgb(110, 108, 108) !important;
}
.leading .fa-angle-right:hover ~ ul.bullit li:last-child{
    background-color: rgb(129, 128, 128) !important;
}
/* End leading  */
/* Start services */
.services{
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
}
.services .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
    column-gap: 30px;
    row-gap: 60px;
}
.services .service-content .ser-box{
    display: flex;
}
.services .service-content .ser-box i{
    margin-right: 30px;
    font-size: 30px;
}
@media (max-width:991px) {
    .services .service-content .ser-box{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .services .service-content .ser-box i{
        font-size: 50px;
        margin: 0 auto 30px;
    }
}
@media (max-width:600px){
    .services .service-content .ser-box .text{
        max-width: 400px;
    }
}
.services .service-content .ser-box .text{
    width: 500px;
}
.services .service-content .ser-box .text p{
    max-width:100%;
}
.services .service-content .ser-box .text h2{
    margin-bottom: 10px;
    color: var(--main-color);
}

/* End services */
/* Start Design */
.design{
    position: relative;
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
    height: 600px;
    background-image: url(/images/design-features.jpg);
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.design::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f7a;
    z-index: -1;
}
.design .image,
.design .text{
    position: relative;
    z-index: 1;
    flex: 1;
}
.design .image img{
    position: absolute;
    bottom: -460px;
}
.design .text{
    background-color: var(--transparent-color);
    text-align: start;
    padding: 15px 15px;

}
.design .text h2{
    padding-bottom: 30px;
}
.design .text ul li{
    padding-bottom: 20px;
}
.design .text ul li::before{
    font-family: "font awesome 5 free";
    content: "\f109";
    font-weight: 900;
    padding-right: 15px;
}
@media (max-width:1000px){
    .design .text{
        display: flex;
        flex: 100;
        flex-direction: column;
        text-align: center;
    }
    .design .text ul li{
        padding-bottom: 50px;
        position: relative;
        
    }
    .design .text ul li::before{
        margin: 1px auto;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }    
}
/* End Design */
/* Start Portfolio */
.portfolio{
    padding-bottom: var(--padding-space);
    padding-top: var(--padding-space);
}
.portfolio  .choose{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.portfolio  .choose li{
    margin-right: 7px;
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
    transition: 0.6s;
}
.portfolio  .choose li.active{
    background-color: var(--main-color);
    color: white;
}
.portfolio  .choose li:hover{
    background-color: var(--main-color);
    color: white;
}
.portfolio   .image-container{
    display: flex;
    flex-wrap: wrap;
}
.portfolio  .image-container .box{
    flex-basis: 25%;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width:1199px){
    .portfolio  .image-container .box{
        flex-basis: 25%;
    }
}
@media (max-width:800px){
    .portfolio  .image-container .box{
        flex-basis: 50%;
    }
}
@media (max-width:600px){
    .portfolio  .image-container .box{
        flex-basis: 100%;
    }
}
.portfolio  .image-container .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio  .image-container .box .context{
    position: absolute;
    background-color: white;
    z-index: 5;
    width: 100%;
    bottom: -100%;
    transition: 0.3s;
}
.portfolio  .image-container .box:hover .context{
    bottom: 0;
}
.portfolio  .image-container .box:hover img{
    transform: rotate(3deg) scale(1.1) ;
}
.portfolio  .image-container .box .context h2{
    font-size: 20px;
    font-weight: normal;
}
.portfolio  .image-container .box .context p{
    color: var(--main-color);
}
.portfolio  .more{
    margin: 10px auto;
    width: fit-content;
    text-align: center;
    padding: 30px;
    border: 2px solid black;
    background-color: var(--main-color);
}
.portfolio  .more a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
/* End Portfolio */
/* Start video */
.video{
    position: relative;
}
.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
}
.video video{
    max-width: 100%;
}
.video .context{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--transparent-color);
    width: 100%;
    padding: 30px 0;
    color: white;
}
.video .context h2{
    font-weight: normal;
    margin-bottom: 30px;    
    text-transform: uppercase;
}
.video .context p{
    padding: 10px;
}
.video .context button{
    background-color: black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
}
/* End video */
/* Start About */
.about{
    padding-top: var(--padding-space);
}
.about img{
    position: relative;
    bottom: -130px;
    z-index: -1;
    overflow: hidden;
    max-width: 100%;
}
/* End About */
/* Start Statistics */
.stat{
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
    background-image: url(/images/stats.png);
    position: relative;
    padding: 60px 0;
}
.stat::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    background-color: rgba(0, 0, 0, 0.50);
}
.stat .container{
    z-index: 1;
    position: relative;
    background-color: var(--transparent-color);
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
    column-gap: 50px;
    row-gap: 30px;
    padding: 20px 0;
    max-width: 100%;

}
.stat .container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat .container .box i{
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.stat .container .box .number{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
}
 .stat .container .box p{
    font-weight: 500;
}
@media (max-width:780px){

}
/* End Statistics */
/* start our skills  */
/* start skills */
.skills{
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
}
.skills .container{
    display: flex;
}
@media (max-width:767px){
    .skills .container{
        flex-direction: column;
    }
    .skills .container .box-image{
        flex-direction: column;
    }
    .skills .container .box-image img{
        margin-bottom: 30px;
    }
}
.skills .container .test{
    flex: 50%;
    position: relative;
}
.skills .container  .outline{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.skills .container  .outline h3{
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 15px;
}
.skills .container  .outline p{
    color: #777;
    max-width: 400px;
}
.skills .container .test .test-image{
    display: flex;
    flex-direction: column;
}
.skills .container .test .test-image .box-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.skills .container .test .test-image .boxer{
    position: relative;
}

.skills .container .test .test-image img{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
}
.skills .container .test .test-image .text{
    padding-left: 50px;
}
.skills .container .test .test-image .text p.words{
    padding-bottom: 20px;
    line-height: 1.6;
    max-width: 350px;
}
.skills .container .test .test-image .text p.name{
    text-align: end;
    color: #777;
}
.test .points{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px;
}
.test .points li{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 5px;
}
.test .points li.active{
    background-color: var(--main-color);
}
/* End skills */
.skills .container .skill{
    flex: 50%;
}
.skills .container .skill .skill-stats{
    margin: 20px 20px;
}
.skills .container .skill .skill-stats .skill-stat{
    margin-bottom: 60px;
}
.skills .container .skill .skill-stats .skill-stat h4{
    padding-bottom: 10px;
}
.skills .container .skill .skill-stats .skill-stat .num{
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #dedadc;
    border: 1px solid black;
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
}
.skills .container .skill .skill-stats .skill-stat .num .nine{
    position: relative;
    width: 90%;
    height: 100%;
    background-color: var(--main-color);
}
.skills .container .skill .skill-stats .skill-stat .num .nine::after{
    content: "90%";
    position: absolute;
    right: -26px;
    top: -60px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}
.skills .container .skill .skill-stats .skill-stat .num .nine::before{
    content: "";
    position: absolute;
    right: -10px;
    top: -11px;
    width: 1px;
    height: 1px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.skills .container .skill .skill-stats .skill-stat .num .eightfive{
    position: relative;
    width: 85%;
    height: 100%;
    background-color: var(--main-color);
}
.skills .container .skill .skill-stats .skill-stat .num .eightfive::after{
    content: "85%";
    position: absolute;
    right: -26px;
    top: -60px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}
.skills .container .skill .skill-stats .skill-stat .num .eightfive::before{
    content: "";
    position: absolute;
    right: -10px;
    top: -11px;
    width: 1px;
    height: 1px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.skills .container .skill .skill-stats .skill-stat .num .eight{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
}
.skills .container .skill .skill-stats .skill-stat .num .eight::after{
    content: "80%";
    position: absolute;
    right: -26px;
    top: -60px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}
.skills .container .skill .skill-stats .skill-stat .num .eight::before{
    content: "";
    position: absolute;
    right: -10px;
    top: -11px;
    width: 1px;
    height: 1px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* End our skills  */
/* Start Quote */
.quote{
    background-image: url(/images/quote.jpg);
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
}
.quote::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
}
.quote .container{
    font-size: 30px;
    position: relative;
    color: white;
    padding: 60px 0px;
}
.quote .container span{
    font-size: 20px;
}
/* End Quote */
/* Start Pricing */
.pricing .prices{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 10px;
}
.pricing .prices .price{
    margin-bottom: 50px;
    text-align: center;
}
.pricing .prices .price h2{
    border-top: 2px solid var(--main-color);
    font-size: 30px;
    font-weight: normal;
}
.pricing .prices .price h1{
    font-weight: 900;
    font-size: 40px;
    padding: 20px;
    border-bottom: 2px solid var(--main-color);
    position: relative;
}
.pricing .prices .price h1::before{
    content: "$";
    position: absolute;
    top: -17px;
    left: 124px;
}
.pricing .prices .price h1::after{
    content: "/Mo";
    font-size: 20px;
    position: absolute;
    bottom: 24px;
}
.pricing .prices .price ul li{
    font-size: 30px;
    margin-bottom: 20px;
}
.pricing .prices .price ul li{
    border-bottom: 2px solid var(--main-color);
}
.pricing .prices .price button{
    padding: 20px;
    color: white;
    background-color: black;
}
.pricing .contect{
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;

}
.pricing .contect p{
    margin-bottom: 40px;
    font-size: 30px;
}
.pricing .contect a {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}
/* End Pricing */
/* Start Email */
.email{
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
    background-image: url(/images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 200px;
}
.email::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.705);
}
.email .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
.email .container .sub{
    display: flex;
    width: 500px;
    max-width: 100%;
    position: relative;
    
}
.email .container .sub i{
    position: absolute;
    font-size: 23px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

}
.email .container .sub input[type="email"]{
    border: 2px solid white;
    background-color: transparent;
    padding: 20px 5px 20px 40px;
    color: white;
    width: calc(100% - 130px);
    border-right: none ;
}
.email .container .sub input[type="submit"]{
    width: 130px;
    border:2px solid white;
    border-left: none ;
    color: white;
    background-color: var(--main-color);
}
.email .container p{
    margin-left: 60px;
}
.email .container .sub ::placeholder{
    color: white;
}
@media (max-width:1000px){
    .email .container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
    }
    .email .container p{
        margin-top: 30px;
    }
}


/* End Email */
/* Start contact */
.contact{
    padding-top: var(--padding-space);
    padding-bottom: var(--padding-space);
}
.contact .information{
    display: flex;
    justify-content: center;

}
.contact .information .info{
    display: flex;
    flex-basis: 70%;
    max-width: 100%;
    flex-direction:column;


}
.contact .information .info input{
    margin-bottom: 30px;
    height: 50px;
    padding: 10px 20px;
}
.contact .information .info textarea{
    padding: 10px 20px;
    margin-bottom: 30px;
}
.contact .information .info input[type="submit"]{
    width: 30%;
    height: 80px;
    align-self: end;
    color: white;
    background-color: var(--main-color);
    border: 2px solid wheat;
    border-radius: 6px;

}
.contact .information .infor{
    margin-left: 100px;
}
.contact .information .infor .num{
    display: flex;
    flex-direction: column;
}
.contact .information .infor .num1{
    margin-bottom: 80px;
}
.contact .information .infor .num span{
    padding: 20px 0;
    color: #777;
}
@media (max-width:800px) {
    .contact .information{
        flex-direction: column-reverse;
    }
    .contact .information .infor{
        margin: 0;
    }
    .contact .information .infor .num{
        text-align: center;
        
    }
    .contact .information .info input[type="submit"]{
        align-self: center;
        text-align: center;
        padding: 0;
    }
}
/* End contact */
/* Start footer */
.footer{
    background-image: url(/images/subscribe.jpg);
    text-align: center;
    padding:60px;
    position: relative;
}
.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.footer .container{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .container img{
    width: 100px;
    margin-bottom: 30px;
}
.footer .container .a{
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}
.footer .container ul {
    display: flex;
}
.footer .container ul li{
    margin: 10px 5px;
}
.footer .container ul li i{
    color: white;
}
.footer .container span{
    color: var(--main-color);
    text-transform: uppercase;
}
/* End footer */