*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.memoryGame{
    width: 800px;
    height: 100vh;
    margin: 10px auto;
    background-color: #eee;
    padding: 10px;
}
.memoryGame .memory-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.memoryGame .memory-info h1{
    color: #3f385e;
}
.memoryGame .memory-info h1 span{
    color: blue;
    font-weight: bold;
}
.memoryGame .memory-info h2{
    color: #3f385e;
}
.memoryGame .memory-info h2 span{
    color: blue;
    font-weight: bold;
}
.memoryGame .memoryPlaceGame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.memoryGame .memoryPlaceGame .card{
    width: 140px;
    height: 140px;
    margin: 5px;
    position: relative;
    backface-visibility: hidden;
    transition: 0.5s;
}
.memoryGame .memoryPlaceGame .card.flip{
    transform: rotateY(180deg) !important;
}
.frontCard{
    z-index: 1;
    background-color: #3f385e;
}
.frontCard::before{
    content: "?";
    line-height: 140px;
    position: absolute;
    width: 30px;
    color: white;
    font-size: 50px;
    height: 100%;
    background-color: #3f385e;
}
.BackCard{
    transform: rotateY(180deg);
}
.face{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.BackCard img{
    width: 140px;
    height: 140px;
}
.noClick{
    pointer-events: none;
}
.StartGame{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 666px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.842);
    position: absolute;
    inset: 0;
    z-index: 9999;
}
.StartGame button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #3f385e;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.StartGame button:hover{
    background-color: #f89e13;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #f89e13;
}
.levels{
    display: none;
    justify-content: center;
    align-items: center;
    height: 666px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.842);
    position: absolute;
    inset: 0;
    z-index: 9999;
}
.levels button{
    width: 150px;
    margin-right: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #3f385e;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.levels button:hover{
    background-color: #f89e13;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #f89e13;
}
.win{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 666px;
    font-size: 78px;
    color: #f89e13;
    cursor: pointer;
}
.timer{
    display: none;
}
.lose{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 666px;
    font-size: 78px;
    color: rgb(250, 59, 25);
    cursor: pointer;
}